.sudoku-container {
  --border-color: #5e6973;
  --selected-color: #bac6cd;
  --primary-color: #1677ff;
  --primary-hover: #4096ff;
}

.sudoku-container td {
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
}

.sudoku-container .original-cell {
  cursor: not-allowed;
  background-color: var(--selected-color);
}

table,
tr,
td {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  font-size: 25px;
}

td:not(.selected-cell, .original-cell, .delete-button):hover {
  cursor: pointer;
  background-color: #bdfffd;
}

.sudoku-grid :where(tbody:nth-child(1), tbody:nth-child(4), tbody:nth-child(7)) td {
  border-top: 4px solid var(--border-color);
}

.sudoku-grid tbody:last-child td {
  border-bottom: 4px solid var(--border-color);
}

.sudoku-grid tbody :where(td:nth-child(1), td:nth-child(4), td:nth-child(7)) {
  border-left: 4px solid var(--border-color);
}

.sudoku-grid tbody td:last-child {
  border-right: 4px solid var(--border-color);
}

.difficult {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  height: 30px;
  width: 80px;
  margin-bottom: 20px;
}

.difficult-option {
  font-size: larger;
}

.sudoku-container {
  width: 900px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sudoku-container .option-container {
  align-self: center;
  width: 250px;
}

.numpad-container {
  display: flex;
  justify-content: center;
}

.numpad td:not(.delete-button) {
  height: 50px;
  width: 50px;
}

.selected-cell {
  background-color: var(--selected-color);
}

.numpad .delete-button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.wrong-cell::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to right bottom, white, white 48%, #f05d5e 49%, #f05d5e 51%, white 52%, white);
}

.candidate-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.candidate-container .candidate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
}

.candidate-container .candidate-cell {
  flex-grow: 1;
  line-height: 20px;
  font-size: 16px;
}

.candidate-container .candidate-cell:hover {
  color: #000000;
  opacity: 0.5;
}

.opacity-none {
  opacity: 0;
}

.opacity-full {
  opacity: 1;
}

.option {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.candidate-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.candidate-button .candidate-checkbox {
  margin-right: 10px;
}

.template-button {
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  color: #ffffff;
  background-color: var(--primary-color);
}

.template-button:hover {
  background-color: var(--primary-hover);
}
